recursive-include src/code_mower/templates *.yml *.yaml *.json
recursive-include src/code_mower/templates *.md
recursive-include src/code_mower/templates *.j2
recursive-include src/code_mower/templates/product-support *
include src/code_mower/*.json
recursive-include templates *.j2 *.json *.md *.yml *.yaml
include requirements/*.txt
include LICENSE
include NOTICE
